# Editors
.idea/*
!.idea/fileTemplates

# Dependencies
/vendor/
/composer.lock

# Build/coverage
/build
/coverage

# Cache
.php-cs-fixer.cache
.phpunit.cache
**/.phpunit.result.cache

# Temporary
tmp/

# Misc
.DS_Store
/*.log
*.swp
