name: Tests

on: [push, pull_request]

jobs:
    phpunit:
        name: PHPUnit on PHP v${{ matrix.php }} & TestBench ${{ matrix.test-bench }}
        runs-on: ubuntu-latest
        strategy:
            fail-fast: true
            matrix:
                php: [ 8.1, 8.2 ]
                test-bench: [ ^7.0, ^8.0 ]

        steps:
            -   name: Checkout code
                uses: actions/checkout@v3

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php }}
                    tools: composer:v2
                    coverage: none

            -   name: Validate composer.json and composer.lock
                run: composer validate

            -   name: Cache Composer packages
                id: composer-cache
                uses: actions/cache@v3
                with:
                    path: vendor
                    key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
                    restore-keys: |
                        ${{ runner.os }}-php-

            -   name: Install dependencies
                run: |
                    composer require "orchestra/testbench=${{ matrix.test-bench }}" --dev --no-update
                    composer install --prefer-dist --no-progress

            -   name: Execute phpunit
                run: composer test -- --colors=always

    php-cs-fixer:
        name: php-cs-fixer
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout code
                uses: actions/checkout@v3

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: 8.1
                    extensions: dom, curl, libxml, mbstring, zip
                    tools: composer:v2
                    coverage: none

            -   name: Cache Composer packages
                id: composer-cache
                uses: actions/cache@v3
                with:
                    path: vendor
                    key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
                    restore-keys: |
                        ${{ runner.os }}-php-

            -   name: Install dependencies
                run: composer install --prefer-dist --no-progress

            -   name: Execute php-cs-fixer
                run: composer cs-fix -- --dry-run --diff --using-cache=no

    phpstan:
        name: PHPStan on PHP v${{ matrix.php }} & TestBench ${{ matrix.test-bench }}
        runs-on: ubuntu-latest
        strategy:
            fail-fast: true
            matrix:
                php: [ 8.1, 8.2 ]
                test-bench: [ ^7.0, ^8.0 ]
        steps:
            -   name: Checkout code
                uses: actions/checkout@v3

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php }}
                    tools: composer:v2
                    coverage: none

            -   name: Validate composer.json and composer.lock
                run: composer validate

            -   name: Cache Composer packages
                id: composer-cache
                uses: actions/cache@v3
                with:
                    path: vendor
                    key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
                    restore-keys: |
                        ${{ runner.os }}-php-

            -   name: Install dependencies
                run: |
                    composer require "orchestra/testbench=${{ matrix.test-bench }}" --dev --no-update
                    composer install --prefer-dist --no-progress

            -   name: Execute phpstan
                run: composer phpstan
